@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html{
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  border-bottom: 3px solid gray;
  margin: 0px 0px 3px 0px;
  align-items: center;
  background-color: black;
}

.header .container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container h1{
  color: white;
}

.header .container ul {
  width: 400px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  color: white;
}

.header a {
  text-decoration: none;
  color: white;

}


